version: "3.8"
services:
  client:
    image: node:18-alpine
    container_name: client-ci
    working_dir: /app
    volumes:
      - ./clientside:/app
    command: sh -c "npm ci --no-audit --no-fund && npm run build"

  admin:
    image: node:18-alpine
    container_name: admin-ci
    working_dir: /app
    volumes:
      - ./admin:/app
    command: sh -c "npm ci --no-audit --no-fund && npm run build"
